*.sh
*.dat
*.txt
pjobs.cc
Makefile
__pycache__/
data*
./pjobs
test*.md
*.rb
pjobs
B0*.e*
B0*.o*
*.npy
*.ipynb
*.png
kaityo_makefile
cps.cpp
cotengra
EDistill*
ctg_RCS*
ctg*
GRCS
quimb
surface*
*.deb
hello*
CUDA*
libcu*
cutensor*.py
cuquantum*
cuQuantum*
*.yml
gkpsurface*
core*
jet*
taskflow
2DMERA*
*.yaml
.DS_Store
