*.sh
*.dat
*.txt
pjobs.cc
Makefile
__pycache__/
data*
./pjobs
test*.py
test*.md
*.rb
pjobs
B0*.e*
B0*.o*
*.npy
*.ipynb
*.png
kaityo_makefile
cps.cpp
cotengra
EDistill*
ctg_RCS*
ctg*
GRCS
quimb
surface*